@import "tailwindcss";
/* ================================
   GLOBAL THEME VARIABLES
================================ */

:root {
  --bg-color: #ffffff;
  --text-color: #111827;
  --card-bg: #f3f4f6;
  --border-color: #e5e7eb;
}

html.dark {
  --bg-color: #0f172a;
  --text-color: #f1f5f9;
  --card-bg: #1e293b;
  --border-color: #334155;
}

/* Apply globally */

html,
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-slide {
  animation: slide 20s linear infinite;
}
